<div class="row">
  <div class="small-12 large-12 columns">
    <app-product-filter (onSearch)="filterCollection($event)"></app-product-filter>
  </div>
  <div *ngIf="products?.length > 0" class="small-up-2 medium-up-4 large-up-6">

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Green Path                                                          |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Suscribo el componente ProductsCollection al evento (clickEnComprar)| | definido en el componente hijo 'Product' y asigno un manejador que  |
    | mostrará los detalles del producto cuando se emita el evento que    |
    | notifica el click sobre el botón de 'Comprar'                       |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <app-product
      *ngFor="let product of products"
      [data]="product"
      class="column"
      (clickEnComprar)="mostratDetalleProducto($event)">
    </app-product>
  </div>
  <div *ngIf="products?.length === 0" class="text-center">
    <span>No se han encontrado productos.</span>
  </div>
</div>
<div class="text-center">

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Yellow Path                                                          |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Uso la directiva RouterLink para que el vínculo navegue a la ruta    |
  | '/reset'.                                                            |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <a routerLink="/reset">Resetear productos</a>
</div>
