<div *ngIf="data">
  <img [src]="data.photo" class="thumbnail" />

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Green Path                                                       |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Configuro el evento click del button para que active el manejador|      | notifica este eventoi al componente padre (products-collection)  |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Purple Path                                                      |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Aplico el pipe number (number:'1.2-2') al precio del producto.   |
  | También podría aplicarse el pipe Currency, pero como ya estaba   |
  | símbolo de € después del número asumí que se prefería number.    |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <button
    (click)="notificarClickEnComprar(data)"
    class="button expanded"
    [class.success]="data.state === 'selling'"
    [class.secondary]="data.state === 'sold'">
      <span *ngIf="data.state === 'selling'">
        Comprar por {{ data.price | number:'1.2-2' }} €
      </span>
      <span *ngIf="data.state === 'sold'">
        Ver detalles
      </span>
    </button>
</div>
